In [67]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as  sns
import warnings
warnings.filterwarnings('ignore')

In [69]:
df = pd.read_csv('/kaggle/input/data-science-salaries-2023/ds_salaries.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/data-science-salaries-2023/ds_salaries.csv'

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [ ]:
#Finding the unique values of all the variables
print('Unique Values:')
columns = list(df.columns)
for col in columns:
    u = df[col].nunique()
    print(f'{col} = {u}')

Unique Values:
work_year = 4
experience_level = 4
employment_type = 4
job_title = 93
salary = 815
salary_currency = 20
salary_in_usd = 1035
employee_residence = 78
remote_ratio = 3
company_location = 72
company_size = 3

Based on the unique values, we can conclude the following:
- There are 4 types of employement along with work_year and experience_level.
- There are 93 different types of job profiles in data science.
- Company size can be L - "Large", M - "Medium" and S - "small."
- There are 3 types of working culture, which can be remote, hybrid, in-office.

In [ ]:
#finding different unique values in columns
column = df[['experience_level', 'employment_type', 'remote_ratio']]
for col in column:
    Unique = df[col].unique()
    print(f'{col} = {Unique}')

experience_level = ['SE' 'MI' 'EN' 'EX']
employment_type = ['FT' 'CT' 'FL' 'PT']
remote_ratio = [100   0  50]

In [ ]:
# replacing abbreviations with relevant and more clear name
df['experience_level'] = df['experience_level'].replace(['EN', 'MI', 'SE', 'EX'],['Entry-Level', 'Mid-Level', 'Senior-Level', 'Executive-Level'])
df['employment_type'] = df['employment_type'].replace(['PT', 'FT', 'FL', 'CT'], 
                                                      ['Part-Time', 'Full-Time', 'Freelance', 'Contract'])
df['remote_ratio'] = df['remote_ratio'].replace([100, 0, 50], ['remote', 'on-site', 'hybrid'])

In [ ]:
df.shape

(3755, 11)

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
work_year,3755.0,2022.373635,0.691448,2020.0,2022.0,2022.0,2023.0,2023.0
salary,3755.0,190695.571771,671676.500508,6000.0,100000.0,138000.0,180000.0,30400000.0
salary_in_usd,3755.0,137570.389880,63055.625278,5132.0,95000.0,135000.0,175000.0,450000.0

- On the basis of descriptive statistics of the dataframe, we can conclude that we have data points of 4 years starting from the year 2020 to 2023.
- Minimum salary in the field of Data science is 6000 with maximum being as high as 30400000.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   object
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(3), object(8)
memory usage: 322.8+ KB

In [ ]:
df.duplicated().sum()

1171

In [ ]:
df = df.drop_duplicates()
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,Senior-Level,Full-Time,Principal Data Scientist,80000,EUR,85847,ES,remote,ES,L
1,2023,Mid-Level,Contract,ML Engineer,30000,USD,30000,US,remote,US,S
2,2023,Mid-Level,Contract,ML Engineer,25500,USD,25500,US,remote,US,S
3,2023,Senior-Level,Full-Time,Data Scientist,175000,USD,175000,CA,remote,CA,M
4,2023,Senior-Level,Full-Time,Data Scientist,120000,USD,120000,CA,remote,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior-Level,Full-Time,Data Scientist,412000,USD,412000,US,remote,US,L
3751,2021,Mid-Level,Full-Time,Principal Data Scientist,151000,USD,151000,US,remote,US,L
3752,2020,Entry-Level,Full-Time,Data Scientist,105000,USD,105000,US,remote,US,S
3753,2020,Entry-Level,Contract,Business Data Analyst,100000,USD,100000,US,remote,US,L
3754,2021,Senior-Level,Full-Time,Data Science Manager,7000000,INR,94665,IN,hybrid,IN,L

In [ ]:
df.duplicated().sum()

0

## *DATA PREPROCESSING*

In [ ]:
#convert categorical columns to numerical using label encoder
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
cols = ['experience_level', 'employment_type', 'remote_ratio', 'company_size']
for col in cols:
    df[f'EN_{col}'] = LE.fit_transform(df[col])

In [ ]:
#convert categorical columns to numerical with the help of function that would consider salary in usd for basis
def EN_mean_salary(x):
    cols = ['job_title','employee_residence', 'company_location' ]
    base = 'salary_in_usd'
   
    for col in cols:
        x[f'EN_mean_{col}'] = df.groupby(col)[base].transform('mean')
    return x
df2 = EN_mean_salary(df)
df2

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,EN_experience_level,EN_employment_type,EN_remote_ratio,EN_company_size,EN_mean_job_title,EN_mean_employee_residence,EN_mean_company_location
0,2023,Senior-Level,Full-Time,Principal Data Scientist,80000,EUR,85847,ES,remote,ES,L,3,2,2,0,198171.125000,62933.531915,58224.204545
1,2023,Mid-Level,Contract,ML Engineer,30000,USD,30000,US,remote,US,S,2,0,2,2,158352.441176,153972.206550,152374.791602
2,2023,Mid-Level,Contract,ML Engineer,25500,USD,25500,US,remote,US,S,2,0,2,2,158352.441176,153972.206550,152374.791602
3,2023,Senior-Level,Full-Time,Data Scientist,175000,USD,175000,CA,remote,CA,M,3,2,2,1,132974.587361,130859.839506,130572.759036
4,2023,Senior-Level,Full-Time,Data Scientist,120000,USD,120000,CA,remote,CA,M,3,2,2,1,132974.587361,130859.839506,130572.759036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior-Level,Full-Time,Data Scientist,412000,USD,412000,US,remote,US,L,3,2,2,0,132974.587361,153972.206550,152374.791602
3751,2021,Mid-Level,Full-Time,Principal Data Scientist,151000,USD,151000,US,remote,US,L,2,2,2,0,198171.125000,153972.206550,152374.791602
3752,2020,Entry-Level,Full-Time,Data Scientist,105000,USD,105000,US,remote,US,S,0,2,2,2,132974.587361,153972.206550,152374.791602
3753,2020,Entry-Level,Contract,Business Data Analyst,100000,USD,100000,US,remote,US,L,0,0,2,0,66065.400000,153972.206550,152374.791602
3754,2021,Senior-Level,Full-Time,Data Science Manager,7000000,INR,94665,IN,hybrid,IN,L,3,2,0,0,181930.173077,36543.100000,30490.807018

In [ ]:
# scale the salary using standardScaler
from sklearn.preprocessing import StandardScaler
sal = df['salary_in_usd'].values.reshape(-1, 1)
s = StandardScaler()
df['salary_in_usd'] = s.fit_transform(sal)

In [ ]:
#feature selection for prediction
columns = ['EN_experience_level', 'EN_employment_type', 'EN_remote_ratio', 'EN_company_size', 'EN_mean_job_title', 'EN_mean_employee_residence', 'EN_mean_company_location' ]
X = df[columns]
y = df['salary_in_usd']

In [72]:
X

,experience_level,employment_type,remote_ratio,company_size,EN_mean_job_title,EN_mean_employee_residence,EN_mean_company_location
0,Senior-Level,Full-Time,remote,L,198171.125000,62933.531915,58224.204545
1,Mid-Level,Contract,remote,S,158352.441176,153972.206550,152374.791602
2,Mid-Level,Contract,remote,S,158352.441176,153972.206550,152374.791602
3,Senior-Level,Full-Time,remote,M,132974.587361,130859.839506,130572.759036
4,Senior-Level,Full-Time,remote,M,132974.587361,130859.839506,130572.759036
...,...,...,...,...,...,...,...
3750,Senior-Level,Full-Time,remote,L,132974.587361,153972.206550,152374.791602
3751,Mid-Level,Full-Time,remote,L,198171.125000,153972.206550,152374.791602
3752,Entry-Level,Full-Time,remote,S,132974.587361,153972.206550,152374.791602
3753,Entry-Level,Contract,remote,L,66065.400000,153972.206550,152374.791602
3754,Senior-Level,Full-Time,hybrid,L,181930.173077,36543.100000,30490.807018

In [ ]:
#splitting the data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X ,y ,test_size = 0.2, random_state = 1)

## ***Model Selection***

In [ ]:
#Fitting different models in dataframe

from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score 

L = LinearRegression()
D = DecisionTreeRegressor()
R = RandomForestRegressor()
G = GradientBoostingRegressor()
model = [L, D, R, G]
model_name = ['Linear Regression','Decision Tree Regressor', 'Random Forest Regressor', 'Gradient Boosting Regressor' ]

for m, n in zip(model, model_name):
    m.fit(x_train,y_train)
    y_predict = m.predict(x_test)
    
    #Evaluation of performaces of model on the basis of MSE. RMSE and, R2_SCORE
    mse = mean_squared_error(y_test, y_predict)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_test, y_predict)
    
    Ev = ['mse', 'rmse', 'r2']
    value = [mse, rmse, r2]
    
    for e, v in zip(Ev, value):
        
       print(f'The {e} of {n} is = {v}')

The mse of Linear Regression is = 0.5745416026134054
The rmse of Linear Regression is = 0.7579852258543074
The r2 of Linear Regression is = 0.44611827085379174
The mse of Decision Tree Regressor is = 0.6377255333089379
The rmse of Decision Tree Regressor is = 0.7985771930808805
The r2 of Decision Tree Regressor is = 0.3852063636416626
The mse of Random Forest Regressor is = 0.5628841294826574
The rmse of Random Forest Regressor is = 0.7502560426165573
The r2 of Random Forest Regressor is = 0.45735655428838373
The mse of Gradient Boosting Regressor is = 0.5149145527411662
The rmse of Gradient Boosting Regressor is = 0.7175754683245283
The r2 of Gradient Boosting Regressor is = 0.5036011986990458

- Based on the provided evaluation metrics, the models can be ranked from best to worst performance as follows: Gradient Boosting Regressor > Random Forest Regressor > Linear Regression > Decision Tree Regressor but none of it perform very well.

In [70]:
import pickle

pickle.dump(G,open("regmodel.pkl","wb"))
pickle.dump(LE,open("encoder.pkl","wb"))